header{
    background-color: red;
    height: 33.33vh;
}

main{
    background-color: yellow;
    height: 33.33vh;
}

footer{
    background-color: red;
    height: 33.33vh;
}

*{
    margin:0;
    padding:0;
}