body{
    background-color:#30ca3a;
    color:#fff
}

header{
    height: 118px;
    border: 1px solid red;
}

.logo{
    margin: 0 0 2px 20px;
}

main{
    height:600px;
    border:1px solid rgb(216, 213, 19)
}

footer{
    height:600px;
    border:1px solid rgb(33, 216, 207)
}

.logo img{

}